Data/*
Website/temp/*
Database/*

######## SITECORE IGNORES #######
Data/*
Database/*
Dependencies/*
Website/*
!Website/*.sln
!Website/*.csproj
!Website/*.html
!Website/site
!Website/site/*

######## GENERAL IGNORES #######

# ignore logs, OS cache files
*.log
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

######## GENERAL .NET IGNORES ########

# Ignore binaries in the source
*/bin
*/obj

Dependencies/Libraries/*/bin
Dependencies/Libraries/*/obj

# Ignore user-scoped solution and project settings
*.user
*.suo

# Ignore generated Version.cs files
*/Properties/Version.cs

######## SITECORE IGNORES ########

*.Web/temp
*.Web/MediaCache
*.Web/App_Data/MediaCache
*.Web/sitecore modules/debug
*.Web/sitecore/shell/Applications/debug
*.Web/sitecore/shell/Controls/debug
*.Web/sitecore/shell/Override/debug
*.Web/sitecore/admin/packages/*.update
*.Web/App_Config/ConnectionStrings.config
# js files emitted by page editor
*.Web/sitecore/shell/Applications/Page Modes/Ouput

# ignore all folders in web data folder but keep readme files within them (prevent empty folder deletion)
*.Web/Data/*/*
!*.Web/Data/*/readme.txt
!*.Web/Data/serialization/*
!*.Web/Data/PAFFiles

# ignore rocks connections files
*.sitecore

######## DEBUT IGNORES ########
# ignore synthesis generation history files
_Generated.cs.*

# ignore generated CSS/JS
*.Web/Sites/*/_resources/*/production/*
!*.Web/Sites/*/_resources/*/production/.gitignore

# ignore debug-preprocessed CSS/JS (e.g. SASS, CoffeeScript)
*.debug.css
*.debug.js

######## MISC IGNORES ########

# Beaver project build files
Build/System/Support/Beaver/bin/Debug
Build/System/Support/Beaver/obj
# Inception Helper Project
Scripts/Inception/System/Support/*/obj
Scripts/Inception/System/Support/*/bin/Debug
*.DS_Store
*.DS_Store
*.DS_Store
*.DS_Store
*.DS_Store
*.DS_Store
*.DS_Store
*.DS_Store
*.DS_Store
._*
