<div data-ng-controller="editprofile as vm">
    <p><a class="btn btn-primary btn-lg" href="#profiles">View all Profiles</a></p>
    <p><a class="btn btn-primary btn-lg" href="#profiles/1">View a Profile</a></p>

    <div class="row" ng-repeat="profile in vm.repository">
        <div class=" col-md-1">
        <a class="btn btn-danger btn-small" href="#profiles/{{profile.ID}}">Edit</a>
    </div>
        <div class="col-md-1">{{profile.DisplayName}}</div>
        <div class="col-md-6">{{profile.ID}}</div>
    </div>

    <a href="#profiles">Route Me!</a>
</div>